
.back{
    background-image: url(https://images3.alphacoders.com/890/890757.jpg);
    background-size: cover;
    height: 100%;
    font-family: 'Chewy', cursive;
    font-size: 1.2rem;
}
.rafaBig{
    font-family: 'Chewy', cursive;
    font-size: 1.5rem;
}


.rafa{
    display: flex;
    flex-direction: column;
}