.background{
    height: 800px;
    background-image: url(https://i.pinimg.com/originals/ff/21/27/ff21270a2fec8dfaa597535eddb924fb.jpg);
    background-size: cover;
}

.brown{
    color: rgb(131, 7, 7);
}
// body {
//     height: 100%;
//     background-image: linear-gradient(hsl(10,90,66), transparent 70%);
//     background-size: 100% 100%;
//     mix-blend-mode: difference;
//     }
