.beer-image{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,65,9,1) 41%, rgba(223,200,180,1) 100%);
    height: 20vh;   
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}

// .beer-image {
//     height: 40vh;
//     // max-height: 30vh;
//     width: 100%;
//     background-color: hsla(200,40%,30%,.4);
//     background-image:       
//         url('https://c4.wallpaperflare.com/wallpaper/140/554/401/beer-4k-pc-wallpaper-preview.jpg'), 
//         url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSX77QmuO-_SmVGCCDzhMXprVMgCsMbePe4ykdRFYrMO5qzAdi6&usqp=CAU'),
//         url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRNHAH3gwfH5Q6iqt53QnMWLaLu8eF_2MMs3kwGgFFvriCxvApb&usqp=CAU'),
//         url('https://cutewallpaper.org/21/hd-beer-wallpapers/Beer-Pints-4K-HD-Desktop-Wallpaper-for-4K-Ultra-HD-TV-.jpg'),
//         url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
//     background-repeat:no-repeat;
//     // background-size:contain;
//     // background-size:cover;
//     background-position: 
//         0 20%,
//         0 100%,
//         0 50%,
//         0 100%,
//         0 0;
//     background-size: 
//         9rem 2rem,
//         8rem 5rem, 
//         20rem 10rem,
//         20rem 20rem,
//         30rem 15rem;
//     animation: 50s para infinite linear;
//     }

// @keyframes para {
//     100% {
//         background-position: 
//             -5000px 20%,
//             -800px 95%,
//             500px 50%,
//             1000px 100%,
//             400px 0;
//         }
//     }

   