.beer-image{
    background-image: url(https://media.giphy.com/media/p0L0XVckvBLuU/giphy.gif);
    height: 40vh;
    background-size: cover;
    align-items: center;
    justify-content: space-around;
}

