.backgrounds{
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/low-calorie-beers-1579818049.jpg);
    background-size: cover;
    height: 100vh;
    font-size: 1.2rem;
}